<%= form_for(@attribute) do |f| %>
  <% if @attribute.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@attribute.errors.count, "error") %> prohibited this attribute from being saved:</h2>

      <ul>
      <% @attribute.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


    <div class="form-group">
      <%= f.label :name %><br>
      <%= f.text_field :name,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :data_type %><br>
      <%= f.text_field :data_type,  :class => 'form-control' %>
    </div>
    <div class="form-group">
    <%=f.select  :attribute_set_id,
                 options_from_collection_for_select(@attribute_sets, "id", "name", :selected => @attribute.attribute_set_id), {}, :class => 'form-control selectpicker'%>
    </div>

    <div class="form-group">
      <%= f.label :idx_name %><br>
      <%= f.text_field :idx_name ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :scale %><br>
      <%= f.number_field :scale ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :scale_web %><br>
      <%= f.number_field :scale_web ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :tolerance %><br>
      <%= f.number_field :tolerance ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :length %><br>
      <%= f.number_field :length ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :length_web %><br>
      <%= f.number_field :length_web ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :unit %><br>
      <%= f.text_field :unit ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :seq_num %><br>
      <%= f.number_field :seq_num ,  :class => 'form-control' %>
    </div>

    <div class="form-group">
      <%= f.label :null_allowed %><br>
      <%= f.check_box :null_allowed ,  :class => 'form-check-input' %>
    </div>

    <div class="form-group">
      <%= f.label :null_display %><br>
      <%= f.check_box :null_display ,  :class => 'form-check-input' %>
    </div>

    <div class="form-group">
      <%= f.label :is_critical_dimension %><br>
      <%= f.check_box :is_critical_dimension ,  :class => 'form-check-input' %>
    </div>


  <div class="actions">
    <%= f.submit :class => 'btn btn-primary' %>
  </div>
<% end %>
