<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-2 col-lg-offset-4">
    <h4>Listing Attributes</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <table class="table">
      <thead>
      <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Type value</th>
        <th>Attribute set</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @attributes.each do |attribute| %>
          <tr>
            <td><%= attribute.id %></td>
            <td><%=  link_to attribute.name, edit_attribute_path(attribute) %></td>
            <td><%= attribute.type_value %></td>
            <td><%= attribute.attribute_set_id %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Attribute', new_attribute_path %>

    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @attributes %>
      </div>
      <%= will_paginate @attributes, :container => false %>
    </div>
  </div>
</div>