<p id="notice"><%= notice %></p>
<div class="row">
  <div class="col-lg-2 col-lg-offset-4">
    <h4>Products</h4>
  </div>
</div>
<div class="row">
  <div class="col-lg-8 col-lg-offset-2">
    <table class="table">
      <thead>
      <tr>
        <th>Manfr part num</th>
        <th>Name</th>
        <th>Description</th>
        <th>Attribute set Id</th>
        <th colspan="3"></th>
      </tr>
      </thead>

      <tbody>
      <% @products.each do |product| %>
          <tr>
            <td><%= product.manfr_part_num %></td>
            <td><%= product.name %></td>
            <td><%= product.description %></td>
            <td><%= product.attribute_set_id %></td>
            <td><%= link_to 'Show', product %></td>
            <td><%= link_to 'Edit', edit_product_path(product) %></td>
            <td><%= link_to 'Destroy', product, method: :delete, data: {confirm: 'Are you sure?'} %></td>
          </tr>
      <% end %>
      </tbody>
    </table>

    <br>

    <%= link_to 'New Product', new_product_path %>
    <div class="digg_pagination">
      <div class="page_info">
        <%= page_entries_info @products %>
      </div>
      <%= will_paginate @products, :container => false %>
    </div>
  </div>
</div>